/*Start of Zukis' part*/
/*Nav*/
.sweden{
  padding:1vh -1vw;
  text-align: center;
}

nav{
  height: 3.9rem;
  width: 100vw;
  background-color: #f3f3f3;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 10;
}

.nav-links{
  list-style: none; 
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  font-size: 1em;
}
.nav-links li a{
  text-decoration: none;
  margin: 0 0.7vw;
}
.nav-links li a:hover {
  color: #000;
}
.nav-links li {
  position: relative;
}
.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #000;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}

.fix_egg div{
  width: 30px;
  height:3px;
  background: #000;
  margin: 5px;
  transition: all 0.3s ease;
}
.fix_egg{
  display: none;
}
/*Responsive navigation (by __Zuki__) : */
@media screen and (max-width: 800px){
  nav{
      position: fixed;
      z-index: 3;
  }

  .fix_egg{
      display:block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
  }
  .nav-links{
    display: flex;
      position: fixed;
      background: #f3f3f3;
      height: 100vh;
      width: 100%;
      flex-direction: column-reverse;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
      text-align: right;
  }
  .nav-links.open{
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
  }
  .nav-links li{
      opacity: 0;
  }
  .nav-links li:nth-child(1){
      transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(2){
      transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(3){
      transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(4){
      transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(5){
    transition: all 0.5s ease 0.1s;
  }
  li.fade{
      opacity: 1;
  }
}
/* End Resp.*/
/*End Nav*/
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  transition: all 0.7s ease;
  width:0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}
/*END ZUKI PART*/